@font-face {
    font-family: yekan;
    src: url(' /assets/fonts/iranyekanwebregularfanum.woff') format('woff');

}

@font-face {
    font-family: yekanl;
    src: url(' /assets/fonts/iranyekanweblightfanum.woff') format('woff');

}

@font-face {
    font-family: uicon;
    src: url(' /assets/fonts/uicons/uicons-regular-rounded.ttf') format('ttf');
}

.enFont {
    font-family: sans-serif !important;
}