//custom centering function for center all elements
@mixin centering($mode) {
    @if($mode=="flex") {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    @if($mode=="transform") {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}