//animation for pages
//==================

//slide vertical mode animation
.slide-enter-active,
.slide-leave-active {
  transition: all .5s;
}

.slide-enter,
.slide-leave-active {
  transform: translateX(100%);
}

//fade transition
.fade-move {
  transition: all .3s;
}

.fade-enter-active {
  transition: all .3s;
  opacity: 0;
  display: none;
}

.fade-leave-active {
  transition: all .3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}